<div class="container">
    <div class="wrapbox-heading-account">
        <div class="header-page clearfix">
            <h1>Chi tiết đơn hàng </h1>
        </div>
    </div>
    <div class="wrapbox-content-account">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-sm-12 sidebar-account">
                <div class="AccountSidebar">
                    <h3 class="AccountTitle titleSidebar">Tài khoản</h3>
                    <div class="AccountContent">
                        <div class="AccountList">
                            <ul class="list-unstyled">
                                <li class="current"><a href="/account">Thông tin tài khoản</a></li>
                                <li><a href="/account/addresses">Danh sách địa chỉ</a></li>
                                <li class="last"><a href="/account/logout">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 col-sm-12 ">
                <div class="grouptitle-order">
                    <h3 class="order_name">Đơn hàng: {{order._id}},
                        <span class="order_date">Đặt lúc — {{order.createdAt}}</span>
                    </h3>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 content-page ">
                        <div class="customer-table-wrap">
                            <div class="customer-table-bg">
                                <p class="title-detail">Chi tiết đơn hàng </p>
                                <div class="wrap-table-orderline table-responsive-overflow">
                                    <div class="table-responsive">
                                        <table id="order_details" class="table table-customers ">
                                            <thead>
                                                <tr>
                                                    <th class=""></th>
                                                    <th class="">Sản phẩm</th>
                                                    <th class="text-center">Đơn giá</th>
                                                    <th class="text-center">Số lượng</th>
                                                    <th class="total text-right">Thành tiền</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                {{#each order.listProducts}}
                                                <tr id="1021840395" class="line-order odd">
                                                    <td class="order-image">
                                                    </td>
                                                    <td class="name" style="max-width:300px">
                                                        <a href="/products/{{this.nameProduct}}" title="">{{this.nameProduct}}</a>
                                                        <br>
                                                    </td>
                                                    <td class="money text-center">{{tLS (multi this.priceProduct 1)}}₫</td>
                                                    <td class="quantity center text-center">{{this.qtyProduct}}</td>
                                                    <td class="total money text-right">{{tLS (multi this.priceProduct this.qtyProduct)}}₫</td>
                                                </tr>
                                                {{/each}}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="wrap-table-ordership">
                                    <table class="table table-customers table-customers-summary ">
                                        <tbody>
                                            <tr class="order_summary ">
                                                <td class="text-left" colspan="4"><b>Giá sản phẩm</b></td>
                                                <td class="total money text-right"><b>{{order.total}}₫</b></td>
                                            </tr>

                                            <tr class="order_summary ">
                                                <td class="text-left" colspan="4"><b>Ship</b></td>
                                                <td class="total money text-right"><b>0₫</b></td>
                                            </tr>


                                            <tr class="order_summary order_total">
                                                <td class="text-left" colspan="4"><b>Tổng tiền</b></td>
                                                <td class="total money text-right"><b>{{order.total}}₫</b></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="customer-status-order">
                            <div class="row">
                                <div id="order_payment" class="col-md-6 col-sm-6 order-payment">
                                    <div class="alert alert-info">
                                        <span class="text_status">Tình trạng thanh toán:</span> <span
                                            class="status_paid">Chưa thanh toán</span>
                                    </div>
                                </div>
                                <div id="order_shipping" class="col-md-6 col-sm-6 order-shipping">
                                    <div class="alert alert-info">
                                        <span class="text_status">Trạng thái đơn hàng:</span>
                                        <span class="status_fulfilled">{{order.status}}</span>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>