
                {{#each products}}
                {{#if  
                    (eq this.category "Camera")}}    
                <article id="camera">
                    <div class="relative h-48 w-48">
                        <a href="/products/{{this.slug}}">
                            <img alt="{{this.name}}" class="h-full rounded bg-black" src="{{this.img}}"
                                style="border: solid 1px #CCC" />
                        </a>
                    </div>
                    <footer class="flex items-center mt-4 capitalize w-48">
                        <a href="/products/{{this.slug}}">
                            <h6 name="name">{{this.name}}</h6>
                            <p class="text-blue-500 w-full">{{this.price}}</p>
                        </a>
                    </footer>
                </article>
                {{/if}}
                {{/each}}

 