<section class="bg-blue-100">
    <div class="tw-container py-8 md:py-16 ml-10"><span
            class="text-xl md:text-3xl lg:text-4xl tracking-wider font-bold capitalize text-blue-700"><a
                href="/">Home</a> / </span><span
            class="text-xl md:text-3xl lg:text-4xl tracking-wider font-bold capitalize text-blue-900"><span>Products</span></span>
    </div>
</section>
<div class="tw-container py-10 flex flex-col md:flex-row gap-20">
    <section class="w-40">
        <div>
            <h1 class="text-xl font-bold">Category</h1>
        </div>
        <br>
        <hr>
        <br>
        <div class="d-flex flex-column" >
                <div class="p-2">
                    <a href="/products/laptop">
                        <i class="fas fa-laptop"></i>&nbsp;Laptop 
                    </a>
                </div>
                <div class="p-2">
                    <a href="/products/laptop">
                       <i class="fas fa-mobile-alt"></i>&nbsp;Mobile 
                    </a>
                </div>
                <div class="p-2">
                    <a href="/products/laptop">
                       <i class="fas fa-desktop"></i>&nbsp;Screen 
                    </a>
                </div>
                <div class="p-2">
                    <a href="/products/laptop">
                       <i class="fas fa-camera"></i>&nbsp;Camera 
                    </a>
                </div>
        </div>
    </section>

    <section id="products" class="w-full">

        <article id="products-list">
            <div class="mt-6 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">


                {{#each products}}

                {{#if
                (eq this.category "Laptop")}}
                <article>
                    <div class="relative h-48 w-48">
                        <a href="/products/{{this.slug}}">
                            <img alt="{{this.name}}" class="h-full rounded bg-black" src="{{this.img}}"
                                style="border: solid 1px #CCC" />
                        </a>
                    </div>
                    <footer class="flex items-center mt-4 capitalize w-48" >
                        <a href="/products/{{this.slug}}">
                            <h6>{{this.name}}</h6>
                            <p class="text-blue-500 w-full">{{this.price}}</p>
                        </a>
                    </footer>
                </article>
                {{/if}}

                {{/each}}

            </div>
        </article>
    </section>

</div>

<script>
    const searchButton = document.getElementById('search-button');
    const searchInput = document.getElementById('search-input');
    searchButton.addEventListener('click', () => {
        const inputValue = searchInput.value;
        alert(inputValue);
    });
</script>