<section>
    <div class="container">
		<div class="wrapbox-heading-account">
			<div class="myaccount">
				<h1>Tài khoản của bạn </h1>
			</div>
		</div>
		<div class="wrapbox-content-account">
			<div class="row">
				<div class="col-xs-12 col-md-3 col-sm-12 sidebar-account">
					<div class="AccountSidebar">
                        <h3 class="AccountTitle">Tài khoản</h3>
                        <div class="AccountContent">
                            <div class="AccountList">
                                <ul class="list-unstyled">			
                                    <li class="current"><a href="/users/information">Thông tin tài khoản</a></li>
                                    <li class="last"><a href="/users/logout">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="col-xs-12 col-md-9 col-sm-12">
					<div class="row wrap_content_account">
						<div class="col-xs-12 wrap_inforAccount" id="customer_sidebar">
							<p class="title-detail">Thông tin tài khoản</p>
							
							<div class="address">
								<h2>{{this.username}}</h2>
							    <h2>{{this.sex}}</h2>
							    <h2>{{this.address}}</h2>
                                <h2>{{this.phonenumber}}</h2>
                                <h2>{{this.email}}</h2>
								<h2>{{this.dateofbirth}}</h2>
								
								<a class = "font-bold" id="view_address" href="/users/edit">Sửa thông tin cá nhân</a>
							</div>
						</div>
						<div class="col-xs-12 wrap_orderAccount" id="customer_orders">	
							<div class="customer-table-wrap">							
								<div class="customer_order customer-table-bg">	
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="customer-table-wrap">							
                <div class="orderlist">		
                    <p class="title-detail">Danh sách đơn hàng mới nhất</p>
                    <div class="table-responsive-overflow">
                        <div class="table-responsive">
                            <table class="table table-customers">
                                <thead>
                                    <tr>
                                        <th class="order_number text-center">Mã đơn hàng</th>
                                        <th class="date text-center">Ngày đặt</th>
                                        <th class="total text-right">Thành tiền</th>
                                        <th class="payment_status text-center">Trạng thái thanh toán</th>
                                        <th class="fulfillment_status text-center">Vận chuyển</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr class="odd ">
                                        <td class="text-center"><a href="/account/orders/1f9bfd387ae74152926394aa291f6c7c" title="">#GR109229</a></td>
                                        <td class="text-center"><span>13/04/2020</span></td>
                                        <td class="text-right"><span class="total money">256,000₫</span></td>
                                <td class="text-center"><span class="status_paid">Đã hoàn tất</span></td>
                            
                            <td class="text-center"><span class="status_fulfilled">Đã giao hàng</span></td>
                                        </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>