<section class="bg-blue-100">
    <div class="tw-container py-8 md:py-16 ml-10"><span
            class="text-xl md:text-3xl lg:text-4xl tracking-wider font-bold capitalize text-blue-700"><a
                href="/">Home</a> / </span><span
            class="text-xl md:text-3xl lg:text-4xl tracking-wider font-bold capitalize text-blue-900"><span>Information</span></span>
    </div>
</section>
<section>
    <div class="container">
		<div class="wrapbox-heading-account">
			<div class="myaccount">
				<h1>Tài khoản của bạn </h1>
			</div>
		</div>
		<div class="wrapbox-content-account">
			<div class="row">
				<div class="col-xs-12 col-md-3 col-sm-12 sidebar-account">
					<div class="AccountSidebar">
                        <h3 class="AccountTitle">Tài khoản</h3>
                        <div class="AccountContent">
                            <div class="AccountList">
                                <ul class="list-unstyled">			
                                    <li class="current"><a href="/users/information">Thông tin tài khoản</a></li>
                                    <li class="last"><a href="/users/logout">Đăng xuất</a></li>
                                    <li class="last"><a href="/users/historyOrder">Các đơn hàng của tôi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="col-xs-12 col-md-9 col-sm-12">
					<div class="row wrap_content_account">
						<div class="col-xs-12 wrap_inforAccount" id="customer_sidebar">
							<p class="title-detail">Thông tin tài khoản</p>
							
							<div class="address">
								<h2>{{this.username}}</h2>
							    <h2>{{this.sex}}</h2>
							    <h2>{{this.address}}</h2>
                                <h2>{{this.phonenumber}}</h2>
                                <h2>{{this.email}}</h2>
								<h2>{{this.dateofbirth}}</h2>
								
								<a class = "font-bold" id="view_address" href="/users/edit">Sửa thông tin cá nhân</a>
							</div>
						</div>
						<div class="col-xs-12 wrap_orderAccount" id="customer_orders">	
							<div class="customer-table-wrap">							
								<div class="customer_order customer-table-bg">	
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>